/* Shared Tailwind and PrimeUI utilities */
@use 'libs/shared/ui/src/styles.scss';

.p-paginator {
  background: transparent !important;
  border: none !important;
  display: flex;
  justify-content: center;
  gap: 6px;
}

/* ALL BUTTONS */
.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background: #f3f4f6 !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 8px !important;
  min-width: 36px !important;
  height: 36px !important;
  margin: 0 2px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #374151 !important;
}

/* HOVER ALL BUTTONS */
.p-paginator .p-paginator-pages .p-paginator-page:hover,
.p-paginator .p-paginator-prev:hover,
.p-paginator .p-paginator-next:hover,
.p-paginator .p-paginator-first:hover,
.p-paginator .p-paginator-last:hover {
  background: #e5e7eb !important;
}

.p-paginator .p-paginator-page.p-paginator-page-selected {
  background-color: #A6252A !important;
  border-color: #A6252A !important;
  color: #ffffff !important;
}

/* HOVER ACTIVE */
.p-paginator .p-paginator-page.p-paginator-page-selected:hover {
  background-color: #A6252A !important;
}

.p-toast .p-toast-message {
  @apply bg-red-900 text-white border-red-900 shadow-lg rounded-xl px-2 py-0 text-xs;
}

.p-toast .p-toast-summary {
  @apply text-sm font-medium;
}

.p-toast .p-toast-detail {
  @apply text-xs;
}
