/* You can add global styles to this file, and also import other style files */
@use '../../../libs/shared/ui/src/lib/styles/auth-theme';
@import "tailwindcss";

.page-bg {
  background-color: var(--page-bg);
}

.text-main-color {
  color: var(--text-main-color);
}

.form-input{
    background-color: var(--input-bg);
    color: var(--input-text);
    border-color: var(--input-border);
    @apply border  rounded-[10px] p-[10px]  text-[10px] md:text-[14px] font-normal leading-[100%] tracking-[0px] placeholder-gray-400 align-middle focus:outline-none focus:ring-0 ;
      &:focus {
    border-color: var(--input-border-focus); 
    box-shadow: 0 0 0 1px var(--input-border-focus);
  }

}

.shop-button-style {
  background-color: var(--button-bg);
  color: var(--button-label-color);
  @apply disabled:bg-[#d75458]  font-semibold rounded-xl;
  &:hover{
    background-color: var(--button-bg-hover)
  }
}

.form-label{
  @apply text-[14px] font-medium text-zinc-800;
  color: var(--text-main-color)
}

.form-style{
  @apply border-y flex flex-col justify-center items-center;
  border-color: var(--form-border);
}


.p-inputotp .p-inputtext {
  border-color: #D4D4D8;
  box-shadow: none !important;
}

.p-inputotp .p-inputtext:hover,
.p-inputotp .p-inputtext:focus,
.p-inputotp .p-inputtext.p-focus {
  border-color: #A6252A !important;
  box-shadow: none !important;
  outline: none !important;
}

.p-inputotp input {
  width: 45px;
  height: 45px;
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  color: #1F2537;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #D4D4D8;
}

/*mobile*/
@media (max-width: 640px) {
  .p-inputotp input {
    width: 36px;
    height: 36px;
    padding: 0.5rem;
    font-size: 14px;
    border-radius: 8px;
  }
}




