/* 1. Global Shared Styles (Includes Tailwind & Plugins) */
@import 'libs/shared/ui/src/styles.scss';

/* 2. Theme Variables */
@use '../../../libs/shared/ui/src/lib/styles/auth-theme';

/* 3. Global Settings */
:root {
  color-scheme: light !important;
}

/* 4. Auth Utility Classes (Using variables from auth-theme) */
.auth-page {
  background-color: var(--page-bg);
  color: var(--title);
}

.auth-title {
  color: var(--title);
}

.auth-border {
  border-color: var(--border-color);
}

.auth-input {
  background-color: var(--input-bg);
  color: var(--input-text);
}

.auth-button {
  background-color: var(--main-color);
  color: #27272a;
}

/* 5. Component Overrides */
.p-inputotp .p-inputtext {
  border-color: #d4d4d8;
  box-shadow: none !important;
}

.p-inputotp .p-inputtext:hover,
.p-inputotp .p-inputtext:focus,
.p-inputotp .p-inputtext.p-focus {
  border-color: #a6252a !important;
  box-shadow: none !important;
  outline: none !important;
}

.p-inputotp input {
  width: 45px;
  height: 45px;
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  color: #1f2537;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #d4d4d8;
}

/* Mobile Responsive Adjustments */
@media (max-width: 640px) {
  .p-inputotp input {
    width: 36px;
    height: 36px;
    padding: 0.5rem;
    font-size: 14px;
    border-radius: 8px;
  }
}
