/* 2. Theme Variables */
@use '../../../libs/shared/ui/src/lib/styles/auth-theme';

/* 1. Global Shared Styles (Includes Tailwind & Plugins) */
@import 'libs/shared/ui/src/styles.scss';

/* 3. Global Settings */
:root {
  color-scheme: light !important;
}

/* 4. Auth Utility Classes (Using variables from auth-theme) */
.auth-page {
  background-color: var(--page-bg);
}

.text-main-color {
  color: var(--text-main-color);
}

.form-input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border-color: var(--input-border);
  @apply border  rounded-[10px] p-[10px]  text-[10px] md:text-[14px] font-normal leading-[100%] tracking-[0px] placeholder-gray-400 align-middle focus:outline-none focus:ring-0;
  &:focus {
    border-color: var(--input-border-focus);
    box-shadow: 0 0 0 1px var(--input-border-focus);
  }
}

.shop-button-style {
  background-color: var(--button-bg);
  color: var(--button-label-color);
  @apply disabled:bg-[#d75458]  font-semibold rounded-xl;
  &:hover {
    background-color: var(--button-bg-hover);
  }
}

.form-label {
  @apply text-[14px] font-medium text-zinc-800;
  color: var(--text-main-color);
}

.form-style {
  @apply border-y flex flex-col justify-center items-center;
  border-color: var(--form-border);
}

/* 5. Component Overrides */
.p-inputotp .p-inputtext {
  border-color: #d4d4d8;
  box-shadow: none !important;
}

.p-inputotp .p-inputtext:hover,
.p-inputotp .p-inputtext:focus,
.p-inputotp .p-inputtext.p-focus {
  border-color: #a6252a !important;
  box-shadow: none !important;
  outline: none !important;
}

.p-inputotp input {
  width: 45px;
  height: 45px;
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  color: #1f2537;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #d4d4d8;
}

/* Mobile Responsive Adjustments */
@media (max-width: 640px) {
  .p-inputotp input {
    width: 36px;
    height: 36px;
    padding: 0.5rem;
    font-size: 14px;
    border-radius: 8px;
  }
}
